<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About us</h2>
            <p>this is a blog site where you can create,delete and update blogs</p>
            <p>it is developed by ABC Developers, Surat</p>
            <p>For any kind of work related to developing websites, applications, softwares contact us on :</p>
            <p>Mobile Number : 9876543210</p>
            <p> Or mail us on <a>abcgroup@gmail.com</a> or you can visit our website too. <a>abcgroupsOfDeveloper.com</a></p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
